
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Add a Book</title>
</head>
<body>


<h1>Create a new book</h1>

<form action="/books/add" method="post"></form>
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" type="text" id="title" name="title">
  </div>
  
  <div class="form-group">
    <label for="theAuthor">Author</label>
    <select class="form-control" name="author" id="theAuthor">
      {{#each authorsFromDb}}
        <option value="{{this._id}}">{{this._doc.firstName}} {{this._doc.lastName }}</option>
      {{/each}}

    </select>
  </div>
  <div class="form-group">
    <label for="">Description:</label>
    <input class="form-control"  type="text" name="description" id="">
  </div>


  <div class="form-group">
    <label for="">Rating</label>
    <input class="form-control"  type="number" name="rating" id="" placeholder="1">
  </div>

</div>
 <input type="submit" class="btn btn-primary" value="Submit">
</div>

</form>

</body>
</html>